BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
IndentCaseLabels: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
ColumnLimit: 79
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: true

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false


